<!-- Main Content -->
  <main class="container">
     <div id="mainDiv">
     <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <img src="Assets/images/yerim_image.png" width="150"height="200">
        <h1 class="display-5 fw-bold">YERIM CHO</h1>
        <p id="paragraph1"><br> Born in Seoul, Republic of Korea<br>
        A developer
        </p>
        <div class="row">
          <div class="column">
            <h3>Education</h3>
            <p><b>Centennial College, Toronto, Canada</b>
            <br>
            Software Engineering Technician (2020.09 - present)
        <br>
        <br>
        <b>Kyung Hee University, Seoul, Korea</b>
        <br>
        Business Administration, Bachelor's Degree (2013.03 - 2018.02)
        </p>
          </div>
        <div class="column">
          <h3>Work Experience</h3>
          <p><b>Ministry of Employment and Labor, Korea (2020.07-2020.08)</b>
          <br>Assistant Manager</p>
          <p><b>Value and Trust Co.,Ltd, Korea (2018.08 - 2019.11)</b>
          <br>Junior Accounting Manager</p>
          <p><b>Air Liquid, Korea (2017.07 - 2018.08)</b>
          <br>Intern</p>
        </div>
        </div>
        
        <a href="Assets/resume.pdf" download>
        <button class="btn btn-outline-dark" type="button" onclick="">Download Resume <i style="color:red"class="far fa-file-pdf"></i></button></a>
      </div>
    </div> 
  </div>  
  </main>