<!-- Main Content -->
  <main class="container">
     <div id = "mainDiv" class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to YERIM's Page</h1>
        <br>
        <br>
        <p id="paragraph1">Hello, there. <br><br><br>
         I'm Yerim Cho, studying Software Engineering Technician course at <br> Centennial College, Toronto,Canada<br><br></p>
        <img src ="Assets/images/logo_black.png">
        <br>
        <br>
        <!--Mission Statement!-->
        <h2 id = "mission">Mission Statement</h2>
        <p id = "missionP">Always challenging the new things in my life, <br>
        I spent most of my life to find out what I want for my life.<br>
        After years of adventure, I realized that I love creating new things<br>
        and focusing on the valueable things.<br>
        As a new challenger in software engineering, <br>
        I would like to help who need my skills and ability.<br>
        <br>
        Trust Me</p>
        <button class="btn btn-outline-dark" type="button" 
        onclick="window.location.href='/about';">About Me</button>
        
      </div>
    </div> 
    
  </main>
  
