<!-- Main Content -->
  <main class="container">
     <div class="p-5 mb-4 bg-light rounded-3" >
      <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold" style="text-align:center;">Projects</h1>
      <h3 class="display-5 fw-light" style="text-align:center; font-size:large">Projects that I will work on this semester</h3>
       <!--Project1-->
       <div class="projectRow">
          <div class="column">
          <img src="/Assets/images/project1.PNG" width="400" height="250">
          </div>
          <div class="column">
            <p>
          <span id="head"><b>Creating a video-hosting website, similar with Youtube.</b></span>
          <ul>
             <span id="head"><b>Description</b></span>
            <li>Video Upload</li>
            <li>Search Video</li>
            <li>View Count</li>
          </ul>
          </p>
          <ul>
             <span id="head"><b>Using</b></span>
            <li>HTML5 / CSS3</li>
            <li>Node.JS</li>
            <li>MongoDB</li>
           <li>ExpressJS</li>
         </ul>
          </div>
       </div>

      <!--Project2-->
       <div class="projectRow">
          <div class="column">
          <img src="/Assets/images/project2.PNG" width="400" height="250">
          </div>

          <div class="column">
            <p>
          <span id="head"><b>Creating a job scrapping website from Indeed and StackOverflow, using Python.</b></span>
          <ul>
            <span id="head"><b> Description</b></span>
            <li>Stack Overflow Jobs Scrapping</li>
            <li>Indeed Jobs Scrapping</li>
            <li>Export to CSV</li>
          </ul>
          </p>
          <ul>
            <span id="head"><b> Using</b></span>
            <li>Python</li>
            <li>Repl.it</li>
            <li>Flask</li>
         </ul>
          </div>
       </div>
      <!--Project3-->
       <div class="projectRow">
          <div class="column">
          <img src="/Assets/images/project3.png" width="400" height="250">
          </div>

          <div class="column">
            <p><span id="head"><b>Windows Monitoring Service Engine</b></span>
          <ul>
            <span id="head"><b> Description</b></span>
            <li>Windows Service Project that Monitors CPU and Memory in your PC and Saves to a SQL Database</li>
            <li>UI manager to Manage the service and read the values from database and Show in charts</li>
            <li>Logger class that can be used in any application to log errors to the database.</li>
          </ul>
          </p>
          <ul>
            <span id="head"><b> Using</b></span>
            <li>C#</li>
            <li>SQL</li>
         </ul>
          </div>
       </div>
    </div> 
   </div> 
  </main>
  
