<!-- Main Content -->
  <main class="container">
     <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5" style="text-align: center;">
      <h1 class="display-5 fw-bold">Custom Services</h1>
       <div class="row">
          <div class="column">
          <h4>Custom Web Delopment</h4>
          <img src="Assets/images/web_development.png" width="300" height="200">
          <p style="font-size: small;">&copy;Chetu.com</p>
          <p>I provide a newly developed website to satisfy your needs.
          <br> Web development with HTML / CSS / JavaScript / Express JS / Node.JS</p>
          </div>

          <div class="column">
            <h4>Data Management</h4>
            <img src="Assets/images/data.png" width="300" height="200">
            <p style="font-size: small;">&copy;Chetu.com</p>
            <p>I provide data management service that incorporate data science, data mining with best solution. </p>
          </div>
       </div>

       <div class="row">
        <div class="column">
        <h4>General Programming</h4>
        <img src="Assets/images/general.png" width="300" height="200">
        <p style="font-size: small;">&copy;Chetu.com</p>
        <p>I provide a newly programming services to satisfy your needs, such as developing a website or developing web application.
        <br> Mainly provide by C# and Java</p>
        </div>

        <div class="column">
          <h4>Quality Assurance (QA Testing)</h4>
          <img src="Assets/images/qa.png" width="300" height="200">
          <p style="font-size: small;">&copy;Chetu.com</p>
          <p>I provide Quality Assurance service preventing unexpected or problematic software behaviors and detecting functionality defects early to ensure that it meets end-user expectations for functionality. </p>
        </div>
     </div>
      </div>
    </div> 
    
  </main>
